<div class="jumbotron text-center">


    <h1 class="display-7">Hospital Management System[HMS] </h1>
    <p class="lead">Handling patient bills and appointment used to be a chaotic scene in hospitals and clinics. Not
        anymore! With the arrival of DocPulse’s <a
            href="https://docpulse.com/solutions/clinic-management-software/"><strong><b>Clinic Management
                    Software</b></strong></a>, a systematic process has evolved over the
        time. The best part of this software is that it has reduced the use of paper, keeping all important information
        in one place to access. Doctors could coordinate with other departments with great ease, regarding medical
        health records. The software has helped in saving time as prescriptions, bills and other calculations are
        maintained digitally. This helps Doctors to concentrate on their core activities. </p>
        
    <hr class="my-4">
    <p>No More Paperwork. No More Rushing with Hospital Management Software</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">learn More </a>
</div>

