<br>



<br>

<div class="container">

    <h1 class="text-center"> View specialization </h1>

    <table border="1" class="table center">
        <thead class="thead thead-dark">
            <tr>
                <th>Surgery Id</th>
                <th>Doctor Id</th>
                <th>Surgery Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Surgery Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let surgery of surgeries">
                <td>{{surgery.surgeryId}}</td>
                <td>{{surgery.doctorId}}</td>
                <td>{{surgery.surgeryDate}}</td>
                <td>{{surgery.startTime}}</td>
                <td>{{surgery.endTime}}</td>
                <td>{{surgery.surgeryCategory}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editSurgery(surgery)">Edit</button>
                </td>
            </tr>
        </tbody>

    </table>