<section class="container text-center parent">
    <div class="container child">
        <h1 class="display-4">View Today's Surgery</h1>
        <br>
        <!-- <div class="{{ alertClass}}" role="alert">
            {{textMessage}}
        </div> -->
        <br>

        <table border="1" class="table table-bordered center" *ngIf="!loading">
            <thead class="thead thead-dark">
                <tr>
                    <th>Surgery Id</th>
                    <th>Doctor Id</th>
                    <th>Surgery Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Surgery Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let surgery of surgeries">
                    <td>{{surgery.surgeryId}}</td>
                    <td>{{surgery.doctorId}}</td>
                    <td>{{surgery.surgeryDate}}</td>
                    <td>{{surgery.startTime}}</td>
                    <td>{{surgery.endTime}}</td>
                    <td>{{surgery.surgeryCategory}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="editSurgery(surgery)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>       
    </div>
</section>
<br>
<app-spinner *ngIf="loading"></app-spinner>