.center {

    margin-left: auto;

    margin-right: auto;

    text-align: center;

}

button {
    margin: 10px;
}

.alert{

    font-size: 15px;
    color: rgb(24, 210, 11);
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: auto;
    left: 45%;
}


