<br>

 

<br>

<div class="container">

    <h1 class="text-center"> View Doctor </h1>

    <table border="1" class="center">

        <tr>

            <th>Doctor ID</th>

            <th>Doctor Name</th>

            <th>Action</th>

        </tr>

 

        <tr>

            <th>1</th>

            <th>John</th>

            <th>

                <span class="action_btn">

                    <a href="#">Edit Doctor Details</a>

                </span>

            </th>

        </tr>

 

        <tr>

            <th>2</th>

            <th>Alex</th>

            <th>

                <span class="action_btn">

                    <a href="#">Edit Doctor Details</a>

                </span>

            </th>

        </tr>

        <tr>

            <th>3</th>

            <th>Ameer</th>

            <th>

                <span class="action_btn">

                    <a href="#">Edit Doctor Details</a>

                </span>

            </th>

        </tr>

 

    </table>