    <div class="jumbotron">
        <h1 class="display-4" >Update Doctor</h1>
        <form class="form-control" #data="ngForm" (ngSubmit)="update(data)">
            <div class="form-group row">
                <label  class="col-md-4 col-form-label">Doctor Id</label>
                <div class="col-md-8 p0">
                    <input  type="number" class="form-control" #id="ngModel" name="doctorId"   ngModel>
                    <span *ngIf="id.invalid" >Enter a valid Id </span>
                </div>
            </div>
            <div class="form-group row ">
                <label  class="col-md-4 col-form-label">Doctor Name</label>
                <div class="col-md-8 p0">
                    <input required type="text" class="form-control" #name="ngModel" name="doctorName" ngModel>
                    <div *ngIf="name.touched &&  name.invalid" class="alert alert-danger" role="alert">Name is Required</div>
                </div>
            </div>
            <button type="submit" class="btn btn-info btn-lg" href="#" >Update</button>
             <a href="#">Cancel</a>
        </form>
        

      </div>
