    <div class="jumbotron">
        <h1 class="display-4" >Update Doctor</h1>
        <div class="{{alertClass}}" role="alert">
            {{textMessage}}
        </div>
        <form  class="form-control" #data="ngForm" (submit)="updateDoctor()">
            <div class="form-group row">
                <label  class="col-md-4 col-form-label">Doctor Id</label>
                <div class="col-md-8 p0">
                    <input readonly  type="number" class="form-control" #id="ngModel" name="doctorId" [(ngModel)]="doctorModel.DoctorId"  ngModel>
                    <span *ngIf="id.invalid" >Enter a valid Id </span>
                </div>
            </div>
            <div class="form-group row ">
                <label  class="col-md-4 col-form-label">Doctor Name</label>
                <div class="col-md-8 p0">
                    <input required type="text" class="form-control" #name="ngModel" name="doctorName" [(ngModel)]="doctorModel.DoctorName"  ngModel>
                    <div *ngIf="name.touched &&  name.invalid" class="alert alert-danger" role="alert">Name is Required</div>
                </div>
            </div>
            <button [disabled]="data.invalid" type="submit" class="btn btn-info btn-lg" >Update</button>
             <a href="/home">Cancel</a>
        </form>
        

      </div>
