nav{

  background-color: #78D6C6;

}
.navbar-nav,
.mr-auto {
  flex: 0.9;
  margin: auto !important;
  display: flex;
  justify-content: space-between;

  padding-top: 15px;
  padding-left: 6rem;
  padding-right: 6rem;
}

button {
  width: 100px;
  height: 50px;
}

button:hover {
  transform: scale(1.2);
}

h4 {
  color: gainsboro;
}

.active-link h4{
  color: white;
}

h4 {
  font-size: 24px;
  color: #333;
  transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}


h4:hover {
  font-size: 28px; 
  color: white; 
}


