nav{

  background-color: #78D6C6;

}
.navbar-nav,
.mr-auto {
  flex: 0.9;
  margin: auto !important;
  display: flex;
  justify-content: space-between;

  padding-top: 15px;
  padding-left: 6rem;
  padding-right: 6rem;
}

/* button {
  width: 100px;
  height: 50px;
} */

button:hover {
  transform: scale(1.2);
}

h4 {
  color: rgb(19, 14, 14);
}

.active-link h4{
  color: rgb(8, 2, 2);
}

h4 {
  font-size: 24px;
  color: #333;
  transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}


h4:hover {
  font-size: 28px; 
  color: #0e0e0e; 
}

button {
  background-color: #e82525;
  border: .5px solid rgb(13, 14, 8);
  border-radius: 15px;
  font-size: 25px;
  color: #fff;
  padding: 8px;
  box-shadow: 0 0 30px 0 rgb(170, 210, 8),
              0 0 30px 0 rgb(200, 9, 48),
              0 0 10px 0 crimson inset;

              width: 100px;
              height: 60px;
}
