.parent {
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 82vh; */
    padding-top: 25vh;
    max-width: 700px;
    /* min-height: 50vh; */
}

.centered-text {
    text-align: center;
}