<section class="container text-center add-doctor-parent">
    <div class="container add-doctor-child">
        <h1>Add a new Doctor</h1>
        <br>
        <form class="form-control" #data="ngForm" (submit)="addDoctor()">
            <div class="form-group row">
                <label  class="col-md-4 col-form-label">Doctor Name</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control"[(ngModel)]="doctorModel.DoctorName" #name="ngModel" name="doctorName" >
                </div>
            </div>
            <div class="form-group row text-left">
                <label class="col-4"></label>
                <button type="submit" class="btn btn-primary">Add Doctor</button>
                <a routerLink='/home' class="centered-text pt-2 pl-2">Cancel</a>
            </div>
            <div class="form-group row text-left">
                <label class="col-4"></label>
                <div class="text-danger">{{message}}</div>
            </div>
            
        </form>
    </div>
</section>