<div class="container pt-5 text-center">

    <div class="row container-fluid ">

        <div class="col-6 pl-0 parent">

            <h1>

                We Provide Medical Services That You Can Trust!

            </h1>

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque nisi, incidunt vitae quas voluptate

            earum delectus, possimus assumenda laborum nulla iusto quam error autem voluptates alias quaerat ut iure

            suscipit at, provident cupiditate libero obcaecati blanditiis! Voluptate harum quam consequatur vero vitae

            in nam incidunt corporis, iste distinctio eius eum.

 

        </div>

        <div class="col-6 text-right pr-0">

            <img class=" doc-img p0"

                src="https://images.pexels.com/photos/12660379/pexels-photo-12660379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"

                alt="">

        </div>

    </div>

 

    <h2 class="pt-5">Specializations</h2>

    <div class="row container-fluid card-deck">

       

        <div class="col-4 card bg-dark text-center text-white border-0">

            <div class="container bg-dark border-0">

                <fa-icon [icon]="faHeart" class="card-image"></fa-icon>

                <div class="card-body">

                    <h5 class="card-title">Cardiologist</h5>

                    A cardiologist specializes in heart disorders. They can diagnose and prescribe medical therapy.

                </div>

            </div>

        </div>

        <div class="col-4 card bg-dark text-center text-white border-0">

            <div class="container bg-dark border-0">

                <fa-icon [icon]="faBaby" class="card-image"></fa-icon>

                <div class="card-body">

                    <h5 class="card-title">Gynocologist</h5>

                    A gynecologist is a physician who specializes in diagnosing and treating diseases of the female

                    reproductive system.

                </div>

            </div>

        </div>

        <div class="col-4 card bg-dark text-center text-white border-0">

            <div class="container bg-dark border-0">

                <fa-icon [icon]="faEye" class="card-image"></fa-icon>

                <div class="card-body">

                    <h5 class="card-title">Ophthalmologist</h5>

                    An ophthalmologist is a physician who specializes in the diagnosis and treatment of diseases of the

                    eye.

                </div>

            </div>

        </div>

 

 

    </div>

</div>