<footer class="footer container-fluid bg-info">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 text-center">
            <h1>CureWell</h1>

            <span class="p-2"><fa-icon [icon]="faLocationDot"></fa-icon></span>
            <span class="p-2">London, Pincode-698247</span>
            <br>
            <span class="p-2"><fa-icon [icon]="faPhone"></fa-icon></span>
            <span class="p-2">1547893589</span>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <h1>Contact US</h1>
            <div class="row text-center">
                <label class="col-3" for=""></label>
                <fa-icon class="col-2 pt-2 connect" [icon]="faFacebookSquare"></fa-icon>
                <fa-icon class="col-2 pt-2 connect" [icon]="faInstagramSquare"></fa-icon>
                <fa-icon class="col-2 pt-2 connect" [icon]="faTwitterSquare"></fa-icon>
                <label class="col-3" for=""></label>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <hr>
    <div class=" text-center">
        <p class=" pb-1 mb-0">Copyright &copy; CureWell</p>
    </div>

</footer>