<br>

 

<br>

<div class="container">

    <h1 class="text-center"> View specialization </h1>

    <table border="1" class="center">

        <tr>

            <th>Surgery Id</th>

            <th>Doctor Id</th>
            <th>Surgery Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Surgery Category</th>
            <th>Action</th>

        </tr>

 

        <tr *ngFor="let surgery of surgeries">

            <th>{{surgery.surgeryId}}</th>

            <th>{{surgery.doctorId}}</th>
            <th>{{surgery.surgeryDate}}</th>
            <th>{{surgery.startTime}}</th>
            <th>{{surgery.endTime}}</th>
            <th>{{surgery.surgeryCategory}}</th>


            <th>
                <button (click)="editSurgery(surgery)">Edit</button>

            </th>

        </tr>

    </table>