<br>
<br>

<div class="container">
    <h1 class="text-center"> View specialization </h1>
    <table border="1" class="center">
        <tr>
            <th>specialization Code</th>
            <th>specialization Name</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let specialization of specializations">
            <th>{{specialization.specializationCode}}</th>
            <th>{{specialization.specializationName}}</th>
            <th>
                <button (click)="viewDoctor(specialization)">View Doctors</button>
            </th>
        </tr>
    </table>